﻿@ligtblue: #231F20;
@darkblue: black ;
@darkgreen: #36311f ;
@gray: #828282;
@warning:#ffb822;
@success: #1dc9b7;
@danger:#d33f49;

.iti__flag {
    background-image: url("/assets/vendors/custom/telinput/img/flags.png");
}

html {
    body {
        font-family: 'Open Sans Condensed', sans-serif !important;
        font-size:15px;
    }
}

.btn{
    font-size:1.5rem;
}

.form-control{
    font-size:1.5rem;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .kt-login__extra .kt-checkbox {
    font-size: 1.5rem;
    line-height:1;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("/assets/vendors/custom/telinput/img/flags@2x.png");
    }
}

.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text{
    font-size:1.5rem;
}

.kt-svg-icon g [fill] {
    fill: @darkblue !important;
}
.kt-login.kt-login--v6 .kt-login__content .kt-login__section .kt-login__title {
    font-size: 5rem;
}

.iti {

    width:100%;
    margin-top:1.5rem;

    input {
        padding-left: 50px !important;
    }
}

input:required {
    box-shadow: none !important;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

.text-center {
    display: flex !important;
    justify-content: center !important;
    .kt-spinner{
        margin-left:-25px;
    }
}

.confirm-buttons {
    .btn {
        float: left;
        margin-bottom: 15px;

        @media only screen and (max-width: 600px) {
            width:100%;
            margin-left:0 !important;
        }
    }
}

.kt-iconbox--animate-slow {
    background-color: lighten(@ligtblue, 10%);
}
.kt-scrolltop {
    background: @darkblue;
}
.btn.btn-label-danger {
    background-color: @danger, 40%;
    color: @danger;
    cursor: text !important;
}

.alert.alert-danger {
    background: #d33f49;
    border: 1px solid #d33f49;
}

.nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active {
    color: @darkgreen;
    border-bottom: 1px solid @darkgreen;
    border-bottom-width: 1px;
}

.kt-header-menu-wrapper .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link .kt-menu__link-text, .kt-header-menu-wrapper .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
    color: @darkgreen;
}
.kt-header-menu .kt-menu__nav > .kt-menu__item:hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text, .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--hover:not(.kt-menu__item--here):not(.kt-menu__item--active) > .kt-menu__link .kt-menu__link-text {
    color: @darkblue;
}

.kt-notification .kt-notification__item:hover .kt-notification__item-details .kt-notification__item-title {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: @darkgreen;
}

.kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon i, .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon i {
    color: @darkblue;
}

.show > .btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
    color: #ffffff;
    background: @darkblue !important;
    border-color: @darkblue !important;
}

.btn-brand {
    background-color: @darkblue;
    border-color: @darkblue;

    &:hover {
        background-color: darken(@darkblue, 5%);
        border-color: darken(@darkblue, 5%);
    }
}

a.btn.btn-label-brand {
    background-color: rgba(@darkgreen, 0.1);
    color: @darkgreen;

    &:hover {
        background-color:@darkgreen;
    }
}

.btn-danger {
    background-color: @danger;
    border-color: @danger;
    color: #ffffff;

    &:hover, &:active {
        background-color: darken(@danger, 5%);
        border-color: darken(@danger, 5%);
    }
}

.btn-brand:disabled{
    background-color:@ligtblue;
    border-color:@ligtblue;
    color:white;
    cursor:not-allowed;
}

.form-control:focus {
    border-color: @darkblue;
}

.show > .btn.btn-brand.btn-elevate, .btn.btn-brand.btn-elevate:focus, .btn.btn-brand.btn-elevate.active, .btn.btn-brand.btn-elevate:active, .btn.btn-brand.btn-elevate:hover {
    -webkit-box-shadow: 0px 9px 16px 0px rgba(@darkgreen, 0.25) !important;
    box-shadow: 0px 9px 16px 0px rgba(@darkgreen, 0.25) !important;
}
.btn-brand:not(:disabled):not(.disabled):active, .btn-brand:not(:disabled):not(.disabled).active, .show > .btn-brand.dropdown-toggle {
    color: #fff;
    background-color: darken(@darkblue, 5%);
    border-color: darken(@darkblue, 5%);
}

.dataTables_wrapper .pagination .page-item.active > .page-link {
    background: @darkblue;

    &:hover {
        background: darken(@darkblue, 5%);
    }
}

.datepicker tbody tr > td.day.today {
    position: relative;
    background: rgba(@darkblue, 0.7) !important;
    color: #ffffff !important;
}

.kt-svg-icon g [fill] {
    fill: @darkblue;
}

.dataTables_wrapper .pagination .page-item:hover > .page-link {
    background: @ligtblue;
}

.kt-font-brand{
    color:@darkgreen !important;
}

.dropzone.dropzone-default.dropzone-brand {
    border-color: @darkgreen;
}

.dataTables_filter, .dataTables_paginate {
    text-align: right;

    .pagination {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.table-registrations {
    .registration-status {
        position: relative;
        padding-left: 15px;

        img {
            margin-right: 10px;
        }

        &::before {
            position: absolute;
            display: block;
            width: 0.3rem;
            width: 4px;
            border-radius: 4px;
            height: 90%;
            left: 2px;
            content: "";
            top: 2px;
        }
    }

    .checked-in::before {
        background: @success;
    }

    .checked-out::before {
        background: @gray;
    }

    .pre-registered::before {
        background: @warning;
    }
}

#printer-connection-status-connected {
    
}



.kt-login__divider {
    font-weight: 400;
    color: #b5b2c3;
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
}

.kt-login__options > a {
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kt-login__options > a:not(:last-child) {
    margin: 0 1.5rem 0 0;
}
.kt-login__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
}


@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

.checkInButtonInactive {
    float: left;
    margin: 40px;
    width: 130px;
    height: 130px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(@gray, 0.6);
    border-radius: 50%;
    margin: 40px;
    font-weight: bold;
    cursor: not-allowed;
    border: none;
    animation: shadow-pulse 1s 2;
}

.checkInButtonActive {
    float: left;
    margin: 40px;
    font: 13px/130px;
    width: 130px;
    height: 130px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    background: rgba(80, 174, 1, 0.6);
    border-radius: 50%;
    animation: shadow-pulse 1s infinite;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.kt-portlet__head-title {
    .form-text {
        font-size: .9rem;
        font-weight: 200
    }
}

.parsley-error{
    width:100% !important;
}
.parsley-errors-list {
    list-style: none;
    position: inherit;
    padding-left: 0;
    display: block;
    color: @danger;
}

.kt-inbox .kt-inbox__list{
    margin-left:0 !important;
    margin-right:0 !important;
}

.kt-inbox .kt-inbox__view {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.flaticon2-down::before {
    content: "\f1a3";
}