﻿@using ipvisionCrmApi.Extensions
@model ipvisionCrmApi.Data.CrmUri
@{
    ViewBag.Title = "Zendesk Connector";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Opsæt Zendesk Connecter
            </h3>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("Index")" class="kt-subheader__breadcrumbs-link">
                    CRM URL-opslag
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("Create","IntegrationSettings")" class="kt-subheader__breadcrumbs-link">
                    Ny integration
                </a>
            </div>
        </div>
    </div>
</div>

<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Indstil Connector her
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("CreateEditZendeskConnector", "IntegrationSettings", FormMethod.Post))
                            {

                                @Html.HiddenFor(x => x.Id)
                                <div class="form-group">
                                    <label>Navn på integration (Vises hos brugerne i pop-up klienten)</label>
                                    <input type="text" required="required" class="form-control" name="Name" value="@(Model?.Name)"/>
                                </div>
                                <div class="form-group">
                                    <label>Zendesk URL</label>
                                    <input type="text" required="required" class="form-control" name="ZendeskConnector.ZendeskUrl" value="@(Model?.ZendeskConnector?.ZendeskUrl)"/>
                                    <span class="small">Eksempelvis: https://company.zendesk.com</span>
                                </div>
                                <div class="form-group">
                                    <label>Brugernavn</label>
                                    <input type="text" required="required" class="form-control" name="ZendeskConnector.Email" value="@(Model?.ZendeskConnector?.Email)"/>
                                    <span class="small">Zendesk brugernavn</span>
                                </div>
                                <div class="form-group">
                                    <label>Password / API Token</label>
                                    <input type="text" required="required" class="form-control" name="ZendeskConnector.ApiToken" value="@(Model?.ZendeskConnector?.ApiToken)"/>
                                    <span class="small">Zendesk password / API token</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success">@(Model == null ? "Opret" : "Gem ændring")</button>
                                </div>
                            }
                            @if (Model?.ZendeskConnector != null)
                            {
                                using (Html.BeginForm("OpenUrl", "IntegrationSettings", FormMethod.Get, new {target = "_blank"}))
                                {
                                    <br/>
                                    <hr/>
                                    <br/>
                                    <input type="hidden" name="customerId" value="@User.UserId()"/>
                                    <input type="hidden" name="urlId" value="@Model.ZendeskConnector.CrmUris.First().Id" />
                                    <div class="form-group">
                                        <label>Test integration.</label>
                                        <input type="text" required="required" class="form-control" name="callerId" value="" placeholder="Telefonnummer"/>
                                        <span class="small">Skriv et telefonnummer for at emulere et opslag i zendesk</span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-info">Test integration</button>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>