﻿@model ipvisionCrmApi.Data.CrmUri
@{
    ViewBag.Title = "CreateEditIntegration";
}
@section styles{
    <link href="/assets/css/pages/pricing/pricing-1.min.css" rel="stylesheet" type="text/css" />
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Opsæt integration
            </h3>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("Index")" class="kt-subheader__breadcrumbs-link">
                    CRM URL-opslag
                </a>
            </div>
        </div>
    </div>
</div>

<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col">
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    I nedenstående formular skal du blot indtaste den URL der skal åbnes, når en kontakt ringer jer op.
                    <br />
                    Du kan bruge CRM ID'erne fra dine kontakter: [internalCrmId1], [internalCrmId2], [internalCrmId3], [internalCrmId4], [internalCrmId5] og [internalCrmId6] som flettefelter i URL'en.
                    <br />
                    Eksempel: @($"https://company.zendesk.com/agent/users/")<strong>[internalCrmId1]</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Indstil URL her
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Edit", "IntegrationSettings", FormMethod.Post))
                            {
                                @Html.HiddenFor(x => x.Id)
                                <div class="form-group">
                                    <label>Navn på integration (Vises hos brugerne i pop-up klienten)</label>
                                    <input type="text" required="required" class="form-control" name="Name" value="@(Model?.Name)"/>
                                </div>
                                <div class="form-group">
                                    <label>URL</label>
                                    <input type="text" required="required" class="form-control" name="Uri" value="@(Model?.Uri)"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success">@(Model == null ? "Opret" : "Gem ændring")</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="la la-puzzle-piece"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Eller opsæt en CRM connector
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-pricing-1 kt-pricing-1--fixed">
                        <div class="kt-pricing-1__items row">
                            <div class="kt-pricing-1__item col-lg-12">
                                <div class="kt-pricing-1__visual">
                                    <img src="/assets/media/logos/zendesk.svg" width="200"/>
                                </div>
                                <span class="kt-pricing-1__price" style="margin-top:0">Zendesk Connector</span>
                                <h2 class="kt-pricing-1__subtitle">Integration til Zendesk</h2>
                                <span class="kt-pricing-1__description">
                                    <span>Opsæt en direkte integration til Zendesk.</span>
                                    <span>Integrationen vil nu lave et opslag direkte i</span>
                                    <span>Zendesk når jeres kunder ringer</span>
                                </span>
                                <div class="kt-pricing-1__btn">
                                    <a href="@Url.Action("CreateEditZendeskConnector","IntegrationSettings")" class="btn btn-pill  btn-brand btn-wide btn-uppercase btn-bolder btn-sm">Opsæt nu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




