﻿@model ipvisionCrmApi.ViewModels.IntegrationSettings.IndexVm
@{
    ViewBag.Title = "Integrationsopsætning";
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Opsæt integrationer
            </h3>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("Index")" class="kt-subheader__breadcrumbs-link">
                    CRM URL-opslag
                </a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row" style="margin:20px 0">
        <div class="col-12">
            <a href="@Url.Action("Create")" class="btn btn-lg btn-success">Opret ny</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Integrationer
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-registrations" id="kt_table_1">
                        <thead>
                        <tr>
                            <th>Url</th>
                            <th>Navn</th>
                            <th>Rediger</th>
                            <th>Slet</th>
                        </tr>
                        </thead>

                        <tbody>
                        @foreach (var uri in Model.CrmUris)
                        {
                            <tr>
                                <td>@uri.Uri</td>
                                <td>@uri.Name</td>
                                <td><a href="@Url.Action("Edit", new {id = uri.Id})" class="btn btn-success">Rediger</a></td>
                                <td>
                                    @using (Html.BeginForm("Delete", "IntegrationSettings", FormMethod.Post))
                                    {
                                        <input type="hidden" name="id" value="@uri.Id"/>
                                        <button type="submit" class="btn btn-danger">Slet</button>
                                    }
                                </td>
                            </tr>
                        }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


</div>