﻿
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "No Url Set";
}

<div class="kt-login__logo">
    <a href="/">
        <img width="200" src="@Url.Content("~/assets/media/logos/logo.png")">
    </a>
</div>
<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Der opstod en fejl!</h3>
    </div>
    <div class="kt-form">
        <div id="login-content">
            <div class="alert alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Der er ikke indstillet en integrations-URL på jeres konto</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>

        </div>
    </div>
</div>

