﻿@model ipvisionCrmApi.ViewModels.IntegrationSettings.SelectContactUrlVm
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "No Url Set";
}

<div class="kt-login__logo">
    <a href="/">
        <img width="200" src="@Url.Content("~/assets/media/logos/logo.png")">
    </a>
</div>
<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Vælg kontakt</h3>
    </div>
    <div class="kt-form">
        <div id="login-content">
            @if (TempData["ErrorMessage"] == null)
            {


                <div class="alert alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon2-check-mark"></i></div>
                    <div class="alert-text">Der blev fundet flere kontakter. Vælg den korrekte</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon2-exclamation"></i></div>
                    <div class="alert-text">@TempData["ErrorMessage"]</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            }
            @if (Model != null && Model.Contacts != null)
            {
                foreach (var contact in Model.Contacts)
                {
                    var finalUrl = Model.Uri
                        .Replace("[internalCrmId1]", contact.InternalCrmId1)
                        .Replace("[internalCrmId2]", contact.InternalCrmId2)
                        .Replace("[internalCrmId3]", contact.InternalCrmId3)
                        .Replace("[internalCrmId4]", contact.InternalCrmId4)
                        .Replace("[internalCrmId5]", contact.InternalCrmId5)
                        .Replace("[internalCrmId6]", contact.InternalCrmId6);
                    <div class="kt-login__actions">
                        <a href="@finalUrl" class="btn btn-brand btn-elevate kt-login__btn-primary">@contact.Name
                        @if (!string.IsNullOrEmpty(contact.Email))
                        {
                            <span>(@contact.Email)</span>
                        }
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>