﻿@using ipvisionCrmApi.Extensions
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <!--begin::Base Path (base relative path for assets of this page) -->
    <base href="/"><!--end::Base Path -->
    <meta charset="utf-8" />

    <title>ipvision CRM API | @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet"> <!--end::Fonts -->

    @Styles.Render("~/Content/css")


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("styles", false)
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--left kt-aside--fixed kt-page--loading">

    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="/">
                <img alt="Logo" src="@Url.Content("~/assets/media/logos/logo.png")" width="80" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
                    <div class="kt-container  kt-container--fluid ">
                        <!-- begin: Header Menu -->
                        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                        <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">

                            <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                                <ul class="kt-menu__nav ">
                                    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @Html.IsActive("Index", "Contacts")">
                                        <a href="@Url.Action("Index","Contacts")" class="kt-menu__link"><span class="kt-menu__link-text">Kontakter</span></a>
                                    </li>
                                    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @Html.IsActive("Index", "IntegrationSettings")">
                                        <a href="@Url.Action("Index","IntegrationSettings")" class="kt-menu__link"><span class="kt-menu__link-text">Integrationsopsætning</span></a>
                                    </li>
                                    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @Html.IsActive("Index", "ClientSettings")">
                                        <a href="@Url.Action("Index","ClientSettings")" class="kt-menu__link"><span class="kt-menu__link-text">Klientindstillinger</span></a>
                                    </li>
                                    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel @Html.IsActive("Users", "ClientSettings")">
                                        <a href="@Url.Action("Users","ClientSettings")" class="kt-menu__link"><span class="kt-menu__link-text">Brugere</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end: Header Menu -->
                        <!-- begin:: Brand -->
                        <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
                            <a class="kt-header__brand-logo" href="/">
                                <img alt="Logo" src="@Url.Content("~/assets/media/logos/logo.png")" width="200" />
                            </a>
                        </div>
                        <!-- end:: Brand -->		<!-- begin:: Header Topbar -->
                        <div class="kt-header__topbar kt-grid__item">




                            <!--end: Language bar -->
                            <!--begin: User bar -->
                            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                                    <span class="kt-header__topbar-username kt-visible-desktop">@User.Identity.Name</span>
                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                                    <!--begin: Head -->
                                    <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                        <div class="kt-user-card__avatar">

                                            <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                            <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                                        </div>
                                        <div class="kt-user-card__name">
                                            @User.Identity.Name
                                        </div>
                                        @*<div class="kt-user-card__badge">
                                                <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 messages</span>
                                            </div>*@
                                    </div>
                                    <!--end: Head -->
                                    <!--begin: Navigation -->
                                    <div class="kt-notification">
                                        <div class="kt-notification__custom kt-space-between">
                                            <a href="@Url.Action("Logout","Account")" class="btn btn-label btn-label-brand btn-sm btn-bold">Log ud</a>

                                            @*<a href="demo9/custom/user/login-v2.html" target="_blank" class="btn btn-clean btn-sm btn-bold">Upgrade Plan</a>*@
                                        </div>
                                    </div>
                                    <!--end: Navigation -->
                                </div>
                            </div>
                            <!--end: User bar -->

                        </div>
                        <!-- end:: Header Topbar -->
                    </div>
                </div>
                <!-- end:: Header -->
                <!-- begin:: Aside -->
                <!-- end:: Aside -->
                <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                        @RenderBody()
                    </div>
                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer kt-grid__item" id="kt_footer">
                    <div class="kt-container ">
                        <div class="kt-footer__wrapper">
                            <div class="kt-footer__copyright">
                                @DateTime.Now.Year © Powered by <a style="margin-left: 5px;" href="https://revolvo.dk" target="_blank"> Revolvo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Footer -->
            </div>
        </div>

    </div>

    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- end::Scrolltop -->
    <!-- begin::Sticky Toolbar -->>
    <!-- begin::Demo Panel -->
    <!-- end::Demo Panel -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#591df1", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#36a3f7", "warning": "#ffb822", "danger": "#fd3995" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <!-- end::Global Config -->
    <!--begin:: Global Mandatory Vendors -->
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", false)
    <!--end::Page Vendors -->
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
                $.notify({
                        // options
                    message: '@TempData["ErrorMessage"]'
                    },
                    {
                        // settings
                        type: 'danger'
                    });
        </script>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            $.notify({
                    // options
                    message: '@TempData["SuccessMessage"]'
                },
                {
                    // settings
                    type: 'success'
                });
        </script>
    }
</body>
<!-- end::Body -->
</html>
