﻿@model ipvisionCrmApi.ViewModels.ClientSettings.EditVm
@{
    ViewBag.Title = "Klientindstillinger";
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Klientindstillinger
            </h3>
        </div>
    </div>
</div>

<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col">
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    På denne side kan du konfigurere standard-indstillinger pop-up klienten.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            URL'er
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Edit", "ClientSettings", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label>Udgående opkald</label>
                                    @Html.TextBoxFor(x => x.DefaultOutgoingOpenUrl, new { @class = "form-control" })
                                    <p class="small">Du kan bruge teksten: [CALLED-ID] i URL'en. Dette vil blive udskiftet med det nummer der ringes til.</p>
                                </div>
                                <div class="form-group">
                                    <label>Besvarede opkald</label>
                                    @Html.TextBoxFor(x => x.DefaultIncomingOpenUrl, new {@class="form-control"})
                                    <p class="small">Du kan bruge teksten: [CALLER-ID] i URL'en. Dette vil blive udskiftet med det nummer der ringer ind.</p>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success">Gem ændringer</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



