﻿@model ipvisionCrmApi.ViewModels.ClientSettings.UsersVm
@{
    ViewBag.Title = "Brugere";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Brugere
            </h3>
            <div class="kt-subheader__breadcrumbs">
                <a href="/" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="@Url.Action("Index","ClientSettings")" class="kt-subheader__breadcrumbs-link">
                        Klientindstillinger
                    </a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="row">
        <div class="col-12">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Brugere
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-registrations" id="kt_table_1">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Navn</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                            @foreach (var contact in Model.Users)
                            {
                                var btnClass = contact.IsDisabled ? "btn-danger" : "btn-success";
                                var btnText = contact.IsDisabled ? "Deaktiveret" : "Aktiveret";
                                <tr>
                                    <td>@contact.MitelUser.Email</td>
                                    <td>@contact.MitelUser.Name</td>
                                    <td>
                                        @using (Html.BeginForm("EnableOrDisableUser", "ClientSettings", FormMethod.Post))
                                        {
                                            <input type="hidden" name="mitelUserId" value="@contact.MitelUser.UserId"/>
                                            <button type="submit" class="btn btn-block @btnClass">@btnText</button>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts
{
    <script>
        var table = $('#kt_table_1');

        // begin first table
        var dt = table.DataTable({
            "order": [[0, "asc"]],
            "iDisplayLength": 100
        });
    </script>
}
