﻿@model ipvisionCrmApi.Data.InternalCrmContact
@{
    ViewBag.Title = "_CreateEdit";
}
@Html.HiddenFor(x => x.Id)
<div class="form-group">
    <label>Navn</label>
    @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
</div>
<div class="form-group">
    <label>Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone1, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Telefon 2</label>
    @Html.TextBoxFor(x => x.Phone2, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Telefon 3</label>
    @Html.TextBoxFor(x => x.Phone3, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Telefon 4</label>
    @Html.TextBoxFor(x => x.Phone4, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Internt CRM ID 1</label>
    @Html.TextBoxFor(x => x.InternalCrmId1, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Internt CRM ID 2</label>
    @Html.TextBoxFor(x => x.InternalCrmId2, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Internt CRM ID 3</label>
    @Html.TextBoxFor(x => x.InternalCrmId3, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Internt CRM ID 4</label>
    @Html.TextBoxFor(x => x.InternalCrmId4, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Internt CRM ID 5</label>
    @Html.TextBoxFor(x => x.InternalCrmId5, new { @class = "form-control" })
</div>
<div class="form-group">
    <label>Internt CRM ID 6</label>
    @Html.TextBoxFor(x => x.InternalCrmId6, new { @class = "form-control" })
</div>


