﻿@model ipvisionCrmApi.ViewModels.Contacts.ImportResultVm
@{
    var items = Model.ResultItems;
    var errorCount = items.Count(x => x.IsInError);
}
<div class="row">
    <div class="col-sm-12">
        @if (errorCount > 0)
        {
            <div class="alert alert-danger" role="alert">
                <div class="alert-text">Fandt fejl i @errorCount rækker! Venligst gennemgå nedenstående resultat, inden du bekræfter import.</div>
            </div>
        }
        <div class="form-group text-center kt-margin-t-10">
            <button type="submit" onclick="StartImport();" class="btn btn-lg btn-brand start-import-btn">Bekræft og start import!</button>
        </div>
        <table class="table table-striped table-bordered table-hover" id="import-result-table">
            <thead>
                <tr>
                    <th>Række#</th>
                    <th>Status</th>
                    <th>Status tekst</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in items)
                {
                    var statusText = line.IsInError ? "Fejl i .csv række" : line.ExistingCrmContact == null ? "Ny kontakt" : "Update";
                    var statusClass = line.IsInError ? "btn-label-danger" : line.ExistingCrmContact == null ? "btn-label-success" : "btn-label-warning";
                    <tr>
                        <td>@(line.Line +1)</td>
                        <td><span class="btn btn-bold btn-block btn-sm btn-font-sm  @statusClass">@statusText</span></td>
                        @if (line.IsInError)
                        {
                            var errorMessage = !string.IsNullOrEmpty(line.ErrorMessage) ? line.ErrorMessage : "Check rækken for potentielle fejl";

                            <td>
                                <p style="color: #d33f49">@errorMessage</p>
                            </td>
                        }
                        @if (line.ResultCrmContact != null)
                        {
                            <td>
                                <p>Linje OK</p>

                            </td>
                        }


                    </tr>

                }
            </tbody>
        </table>
        <div class="form-group text-center kt-margin-t-10">
            <button type="submit" onclick="StartImport();" class="btn btn-lg btn-brand start-import-btn">Bekræft og start import!</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#import-result-table").DataTable();

    });
</script>

