﻿@model ipvisionCrmApi.Data.InternalCrmContact
@{
    ViewBag.Title = "Redigér kontakt";
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Opret ny kontakt
            </h3>
        </div>
    </div>
</div>

<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="row">
        <div class="col">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Kontaktoplysninger
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Edit", "Contacts", FormMethod.Post))
                            {
                                @Html.Partial("Partials/_CreateEdit", Model)
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success">Gem ændringer</button>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

