﻿@{
    ViewBag.Title = "Import / sync kontakter";
}
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Importer kontakter fra CSV
            </h3>
            <div class="kt-subheader__breadcrumbs">
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="@Url.Action("Index")" class="kt-subheader__breadcrumbs-link">
                    Kontakter
                </a>
            </div>
        </div>
    </div>
</div>

<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col">
            <div class="alert alert-light alert-elevate fade show" role="alert">
                <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                <div class="alert-text">
                    <br />
                    Upload en CSV fil med organisationens kontakter. Sæt hak i "Slet eksisterende kontakter", hvis du laver en fuld upload. Eksisterende kontakter vil ikke blive opdateret - alle kontakter i filen vil blive oprettet, selvom de findes i forvejen. Første linje i CSV filen skal indeholde følgende headers, i vilkårlig rækkefølge:
                    <br />
                    <br />
                    <strong>"name", "email", "phone", "phone2", "phone3", "phone4" "internalCrmId1", "internalCrmId2", "internalCrmId3", "internalCrmId4", "internalCrmId5", "internalCrmId6"</strong>
                    <br />
                    <br />
                    <strong>NB!</strong> Telefonnumre skal indeholde landekode med "+" foran.
                    <br />
                    <br />
                    <a href="/ipvision-CRM-Middleware-API-Documentation.pdf" target="_blank">Klik her for at se API-dokumentation for at uploade kontakter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Vælg den CSV fil der indeholder kontaktdata.
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("Import", "Contacts", FormMethod.Post, new { enctype = "multipart/form-data", id = "import-form" }))
                            {
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="kt-checkbox">
                                            <input type="checkbox" name="deleteExisting" /> Slet eksisterende kontakter
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <input type="file" name="file" style="display: none" id="file" />
                            }

                            <div class="dropzone dropzone-default dropzone-brand" id="kt_dropzone_1">
                                <div class="dropzone-msg dz-message needsclick">
                                    <h3 class="dropzone-msg-title">Træk og slip CSV fil hertil</h3>
                                    <span class="dropzone-msg-desc">Vi vil vise dig resultatet af importen, før du accepterer og sætter importen i gang.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="import-results" style="display: none">
        <div class="col">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Dette vil være resultatet af at uploade CSV filen
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xs-1 m-auto" id="import-result-spinner">
                            <div class="kt-spinner kt-spinner--v2 kt-spinner--lg kt-spinner--brand"></div>
                        </div>
                        <div class="col-sm-12" id="import-result-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>

        function FileListItem(a) {
            a = [].slice.call(Array.isArray(a) ? a : arguments)
            for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File
            if (!d) throw new TypeError("expected argument to FileList is File or array of File objects")
            for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c])
            return b.files
        }

        $('#kt_dropzone_1').dropzone({
            url: "@Url.Action("GetUploadBatchResult")", // Set the url for your upload script location
            paramName: "file", // The name that will be used to transfer the file
            maxFiles: 1,
            acceptedFiles:'.csv',
            maxFilesize: 5, // MB
            addRemoveLinks: true,
            init: function() {
                this.on("success", function(file, response) {
                        $("#import-result-container").html(response);
                    }),
                    this.on("processing", function (file, response) {
                        $("#import-result-container").html("");
                        $("#import-result-spinner").show();
                        $("#import-results").show();
                    }),
                    this.on("complete", function(file, response) {
                        $("#import-result-spinner").hide();
                    }),
                    this.on("reset", function (file, response) {
                        $("#import-results").hide();
                        $("#import-result-spinner").hide();
                    })
            },
            accept: function (file, done) {
                done();
                var fileVal = document.getElementById("file");
                var files = [
                    file
                ];
                fileVal.files = new FileListItem(files);

            }
        });

        //$("form#import-form").submit(function(e) {
        //    e.preventDefault();
        //    var formData = new FormData(this);
        //    var url = $(this).attr("action");

        //    function postSuccess(data) {

        //    }
        //    function postError() {

        //    }
        //    function postComplete() {

        //    }
        //});

        function StartImport() {
            $(".start-import-btn").addClass('kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light').attr('disabled', true);
            $("#import-form").submit();
        }

    </script>
}


