﻿@using System.Globalization
@model ipvisionCrmApi.ViewModels.Contacts.IndexVm
@{
    ViewBag.Title = "Kontakter";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Kontaktliste
            </h3>
            <div class="kt-subheader__breadcrumbs">
                <a href="/" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                @*<span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="@Url.Action("Index","Locations")" class="kt-subheader__breadcrumbs-link">
                        Locations
                    </a>*@
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="@Url.Action("Create")" class="btn kt-subheader__btn-primary">
                    Opret kontakt manuelt
                </a>
                <a href="@Url.Action("Import")" class="btn kt-subheader__btn-primary">
                    Importer kontakter
                </a>
            </div>
        </div>
    </div>
</div>
<div class="kt-container  kt-grid__item kt-grid__item--fluid">

    <div class="row">
        <div class="col-12">

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Kontakter
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <table class="table table-striped- table-bordered table-hover table-registrations" id="kt_table_1">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Navn</th>
                            <th>Telefon 1</th>
                            <th>Telefon 2</th>
                            <th>Telefon 3</th>
                            <th>Telefon 4</th>
                            <th>Internt CRM ID 1</th>
                            <th>Internt CRM ID 2</th>
                            <th>Internt CRM ID 3</th>
                            <th>Internt CRM ID 4</th>
                            <th>Internt CRM ID 5</th>
                            <th>Internt CRM ID 6</th>
                            <th>Redigér</th>
                        </tr>
                        </thead>

                        <tbody>
                            @foreach (var contact in Model.Contacts)
                            {
                                <tr>
                                    <td>@contact.Email</td>
                                    <td>@contact.Name</td>
                                    <td>@contact.Phone1</td>
                                    <td>@contact.Phone2</td>
                                    <td>@contact.Phone3</td>
                                    <td>@contact.Phone4</td>
                                    <td>@contact.InternalCrmId1</td>
                                    <td>@contact.InternalCrmId2</td>
                                    <td>@contact.InternalCrmId3</td>
                                    <td>@contact.InternalCrmId4</td>
                                    <td>@contact.InternalCrmId5</td>
                                    <td>@contact.InternalCrmId6</td>
                                    <td><a href="@Url.Action("Edit", new {id=contact.Id})" class="btn btn-warning">Redigér</a></td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
@section scripts{
    <script>
        var table = $('#kt_table_1');

        // begin first table
        var dt = table.DataTable({
            "order": [[0, "asc"]],
            "iDisplayLength": 100
        });



    </script>
}

