﻿@model ipvisionCrmApi.ViewModels.Account.LoginVm
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="kt-login__logo">
    <a href="/">
        <img width="200" src="@Url.Content("~/assets/media/logos/logo.png")">
    </a>
</div>
<div class="kt-login__signin">
    <div class="kt-login__head">
        <h3 class="kt-login__title">Log ind</h3>
    </div>
    <div class="kt-form">
        <div id="login-content">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon2-check-mark"></i></div>
                    <div class="alert-text">@TempData["SuccessMessage"]</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">@TempData["ErrorMessage"]</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            }
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.ReturnUrl)
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", placeholder = "E-mailadresse", type = "email" })
                </div>
                <div class="input-group">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                </div>
                <div class="row kt-login__extra">
                    <div class="col">
                        <label class="kt-checkbox">
                            <input type="checkbox" name="remember"> Husk mig
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="kt-login__actions">
                    <button id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary" type="submit">Log ind</button>
                </div>
            }

        </div>
    </div>
</div>